# Python Distribution Package Requirements for APRS.
#
# Source:: https://github.com/ampledata/aprs
# Author:: Greg Albrecht W2GMD <gba@orionlabs.io>
# Copyright:: Copyright 2016 Orion Labs, Inc.
# License:: Apache License, Version 2.0


flake8
pylint
